// Buttons
a.button, button, input[type=submit] {
	// Defaults
	border: $borderWidth solid; // Width is defined in the _buttonStyle()
	border-radius: $commonRadius;
    padding: .6em 1.8em;
	font-weight: 800;
	font-size: .8em;
	transition: $trans * 1.5;
	font-family: $headfont;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
    &:hover:not(:disabled), &:focus:not(:disabled) {
		transition: $trans / 2;
		// TODO: Extra funky focus thingy
	}
	&:disabled {
		background-color: $dark-grey;
		cursor: not-allowed;
	}
	@include createButtonStyle('default', $maincolor, $textcolor-light);
	// Other button styles
	@include createButtonStyle('contrast', $contrastcolor, $textcolor-light);
	@include createButtonStyle('confirm', $confirm, $textcolor-light);
	@include createButtonStyle('error', $error, $textcolor-light);
}