$borderWidth: .2rem;
$commonRadius: .4rem;
$trans: .2s;

$headfont: sans-serif;
$textfont: sans-serif;

$maincolor: rgb(0, 96, 196);
$contrastcolor: goldenrod;
$textcolor: #222222;
$textcolor-light: #EEEEEE;
$confirm: green;
$error: tomato;
$titlecolor: $maincolor;
$base-grey: #E3E5E7;
$backgroundcolor: $base-grey;
$dark-grey: #999999;
$linkcolor: $maincolor;